.wrapper{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.wrapper .navbar{
    display: flex;
    justify-content: space-between;
}

.wrapper .navbar .tittle{
    display: flex;
}

.wrapper .navbar .tittle .tittle1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
}

.wrapper .navbar .tittle .tittle2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: rgb(156, 150, 150);
}

.wrapper .navbar .medu-header{
    width: 100%;
    margin-bottom: 50px;
}

.wrapper .navbar .medu-header .menu-header1 {
    margin-top: 40px;
    width: 100%;                    /*ocupa el 100% dentro del space-between que tiene con el tittle*/
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.wrapper .hero .carousel{
    width: 100%;
    height: 400px;
    background-color: black;
    position: relative;
    top: 15px;
    margin-bottom: 50px;
}

.wrapper .separator-line1{
    width: 100%;
    height: 1px;
    background-color: rgb(128, 128, 128);
}

.wrapper .experience{
    margin-top: 50px;
    width: 100%;
    height: 850px;
    margin-bottom: 50px;
}


.wrapper .experience .experience-tittle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.wrapper .experience .experience-p1{
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 50px
}

.wrapper .experience .experience-p1 .textop1{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    justify-content: space-between;
}

.wrapper .experience .experience-p2{
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 50px
}

.wrapper .experience .experience-p2 .textop2{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    justify-content: space-between;
}

.wrapper .experience .experience-p3{
    display: flex;
    width: 100%;
    height: 200px;
}

.wrapper .experience .experience-p3 .textop3{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    justify-content: space-between;
}

.wrapper .separator-line2{
    width: 100%;
    height: 1px;
    background-color: rgb(128, 128, 128);
}

.wrapper .aboutme {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

.wrapper .aboutme .aboutme-tittle{
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.wrapper .aboutme .aboutme-tittle .aboutme-tittle1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.wrapper .aboutme .aboutme-tittle .aboutme-tittle2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(128, 128, 128);
    margin-left: 9px;
}

.wrapper .aboutme .aboutme-info .list-info{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

.wrapper .separator-line3{
    width: 100%;
    height: 1px;
    background-color: rgb(128, 128, 128);
}


.wrapper .skills{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.wrapper .skills .skills-tittle{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.wrapper .skills .skills-box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    
}

.wrapper .skills .skills-box .skills-box-square{
    width: 80%;
    height: 300px;
    padding: 10px;
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.wrapper .skills .skills-box .skills-box-square .skill-graphic{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper .skills .skills-box .skills-box-square .skill-graphic .graphic1{
    width: 20%;
    height: 60px;
    margin-left: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
}

.wrapper .skills .skills-box .skills-box-square .skill-graphic .graphic2{
    width: 90%;
    height: 60px;
    margin-left: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
}

.wrapper .skills .skills-box .skills-box-square .skill-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: black;
    font-style: italic;
}

.wrapper .skills .skills-box .skills-box-square .skill-graphic .graphic3{
    width: 70%;
    height: 60px;
    margin-left: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
}

.wrapper .separator-line4{
    width: 100%;
    height: 1px;
    background-color: rgb(128, 128, 128);
}

/*--------------------------------------------*/

.wrapper .contactme{
    margin-top: 50px;
    width: 100%;
    height: 700px;
    margin-bottom: 50px;
}

.wrapper .contactme .contactme-tittle{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.wrapper .contactme .contactme-tittle .contactme-tittle2{
    color: rgb(128, 128, 128);
    margin-left: 9px;
}

.wrapper .contactme .form-square{
    display: flex;
    justify-content: center;
}

.wrapper .contactme .form-square-background{
    display: flex;
    justify-content: center;
    height: 410px;
    width: 300px;
    padding: 20px;
    background-color: rgb(128, 128, 128);
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(225, 225, 225, 0.8);
}

.wrapper .contactme .form-square-background .form .form-tittle{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper .contactme .form-square-background .send-button{
    height: 40px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    
}

.wrapper .contactme .rrss{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
    font-weight: bold;
}

input{
    border-radius: 5px;                      
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}